<h1>index</h1>

<% if @post.any? %>
  <% @post.each do |post| %>
    <div class="post">
       <h2><%= link_to post.title, post %></h2>
       <h5>Added <%= post.created_at.strftime("%d %B %Y") %></h5>
    </div>
  <% end %>
<% end %>
