/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

*{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.jumbotron{
  padding:0;
  margin:0;
  width: 100%;

  .banner, .about, .service, .portfolio, .team, .blog, .contact, .follow, .footer{
    width:100%;
    margin:0;
  }

  a, a:hover{
    text-decoration: none;
  }

  /* BANNER */

  .banner{
    text-align: center;
    background-color: #040D17;
    color: #fff;
    padding-bottom: 4em;

    .menu{
      padding: 0 4em;
    }

    a{
      color: #fff;
    }

    .menu_option{
      background-color: #091B2E;
      padding: 0.7em 0;

      h3{
        font-weight: 300;
      }

      .icon{
        font-size: 2em;
        padding-top: 1em;
        color: #CDCDCD;
      }
    }

    .menu_option:hover{
      background-color:#102C4A;

      a{
        color: #CDCDCD;
      }

      .icon{
        -webkit-transform:scale(1.15); /* Safari and Chrome */
        -moz-transform:scale(1.15); /* Firefox */
        -ms-transform:scale(1.15); /* IE 9 */
        -o-transform:scale(1.15); /* Opera */
         transform:scale(1.15);
      }
    }

    h1{
      padding:2em 0;
      font-weight: 700;
    }

    h3{
      font-weight: 300;
      padding-bottom:0.6em;
    }
  }/* END OF BANNER */

  /* ABOUT */
  .about{
    text-align: center;
    padding: 1em;
    color: #363636;
    background-color: #fff;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    h4{
      text-align: justify;
      font-weight: 400;
      padding-bottom: 2.3em;
    }
  }/* END OF ABOUT */

  .service{
    background-color: #040D17;
    color: #fff;
    padding-bottom: 3em;
    height: 50vh;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    h3{
      font-weight: 300;
      padding-bottom:0.6em;
      font-size:1.3em;
    }
    .service_options{
      padding: 0 2em;

      .service_icon{
        font-size: 2em;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 1em;
        color: #CDCDCD;
      }

      .mobile{
        padding:1em 1.3em;
      }

      .service_section:hover{
        .service_icon{
          border: 2px solid #18BFF7;
        }
        h3{
          font-size: 1.5em;
        }
      }

    }
  }/* END OF SERVICE */

  .portfolio{
    background-color: #fff;
    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }
  }/* END OF PORTFOLIO */

  .team{
    background-color: #fff;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    .images{
      max-width: 100%;
    }

    .first, .second, .third, .first_project, .second_project, .third_project{
      padding:0;
      position: relative;
      overflow: hidden;
    }

    .first img, .second img, .third img, .first_project img, .second_project img, .third_project img{
      height:300px;
      width:100%;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
    }

    .first:hover img, .second:hover img, .third:hover img, .first_project:hover img, .second_project:hover img, .third_project:hover img{
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }/* END OF TEAM */

  .blog{
    background-color: #040D17;
    color: #fff;
    padding-bottom: 4em;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    a, a:hover{
      text-decoration: none;
    }

    .post{
      padding-bottom: 0.4em;

      h5{
        color:#C0C0C0;
        a{
          color: #126C8A;
          font-weight: 700;
        }

        a:hover{
          color: #18BFF7;
        }
      }
    }
  }/* END OF BLOG */

  .contact{
    background-color: #fff;
    padding-bottom: 5em;

    textarea {
      resize: none;
    }

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }
    .col-md-8{
      .form-area{
        .btn-primary{
          background-color: #fff;
          color: #040D17;
          border-color: #040D17;
          font-size:1.5em;
        }
        .btn-primary:hover{
          background-color: #040D17;
          color: #fff;
          border-color: #040D17;
        }
      }
    }
  }/* END OF CONTACT */

  .follow{
    background-color: #040D17;
    color: #fff;
    padding-bottom: 4em;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    .col-md-3{
      a{
        color: #fff;
      }

      a:hover{
        color:#126C8A;
      }
      .follow_icon{
        font-size:6em;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
      }

      .follow_icon:hover{
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);

      }
    }
  }/* END OF FOLLLOW US */

  .footer{
    background-color: #0E0E0E;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .col-md-4{
      padding: 2em 0 2em 7em;

      h2{
        font-weight: 700;
      }
    }

    .col-md-8{
      h4{
        display: inline;
        font-weight: 700;
      }

      h4:hover{
        color: #126C8A;
      }

      .dot{
        padding: 0 1em;
        font-weight: 700;
      }
    }
  }/* END OF FOOTER */

  .blog_post{
    background-color: #fff;

    p{
      text-align: justify;
    }

    h4{
      padding:1em 0;
      font-weight: 300;
    }

    .back_button{
      background-color: #fff;
      color: #040D17;
      border:3px solid #040D17;
      font-size:1.5em;
      margin-top: 2em;
    }
    .back_button:hover{
      background-color: #040D17;
      color: #fff;
      border:3px solid #040D17;
    }
  }/* END OF BLOG_POST */

  .blog_index{
    background-color: #fff;

    h1{
      padding-bottom: 0.5em;
    }

    .back_button{
      background-color: #fff;
      color: #040D17;
      border:3px solid #040D17;
      font-size:1.5em;
      margin-top: 0.3em;
      margin-bottom: 2.3em;
    }
    .back_button:hover{
      background-color: #040D17;
      color: #fff;
      border:3px solid #040D17;
    }

    .post{
      h2{
        font-size:2em;
        font-weight: 700;
        margin-top:0;
      }
      h4{
        padding:0.6em 0;
      }
    }
  }/* END OF BLOG_INDEX */

  /* RESPONSIVE/MOBILE DESIGN */
  /* 1100 PX */
  @media screen and (max-width: 1100px) {
    .banner{
      .menu{
        .menu_option{
          h3{
            font-size: 1em;
          }
        }
      }
    }
    .footer{
      .col-md-8{
        h4{
          font-size: 1em;
        }
      }
    }
  }/* END OF 1100PX */

  @media screen and (max-width: 1000px) {
    .footer{
      .col-md-4{
        padding: 1.3em 0;
        h2{
          font-size: 1.3em;
        }
        h4{
          font-size:0.8em;
        }
      }
    }
    .service{
      .service_options{
        .service_section{
          h3{
            font-size: 1.2em;
          }
        }
        .service_section:hover{
          h3{
            font-size: 1.4em;
          }
        }
      }
    }
  }/* END OF 1000PX */

  @media screen and (max-width: 900px) {
    .banner{
      h1{
        font-size: 3.5em;
      }
    }
    .service{
      .service_options{
        .service_section{
          h3{
            font-size: 1.15em;
          }
        }
        .service_section:hover{
          h3{
            font-size: 1.25em;
          }
        }
      }
    }

    .follow{
      .follow_box i{
        padding-bottom:0.3em;
      }
    }
  }/* END OF 900PX */

  @media screen and (max-width: 800px) {
    .banner{
      padding-bottom: 1em;
      .menu_option{
        margin-bottom: 2em;
      }
    }

    .service{
      .service_options{
        .service_section{
          h3{
            font-size: 1.1em;
          }
        }
        .service_section:hover{
          h3{
            font-size: 1.2em;
          }
        }
      }
    }

    .portfolio{
      .images{
        .first img, .second img, .third img{
          height: 250px;
        }
      }
    }

    .team{
      .images{
        .first img, .second img, .third img{
          height: 250px;
        }
      }

      .follow{
        .follow_box i{
          padding-bottom:0.3em;
        }
      }
    }
  }/* END OF 800PX */

  @media screen and (max-width: 800px) {
    .banner{
      padding-bottom: 1em;
      .menu_option{
        margin-bottom: 2em;
      }
    }

    .service{
      height: 100%;

      .service_options{
        .service_section{
          padding-bottom:1em;

          h3{
            font-size: 1.1em;
          }
        }
        .service_section:hover{
          h3{
            font-size: 1.2em;
          }
        }
      }
    }

    .portfolio{
      .images{
        .first img, .second img, .third img{
          height: 250px;
        }
      }
    }

    .team{
      .images{
        .first img, .second img, .third img{
          height: 250px;
        }
      }

      .follow{
        .follow_box i{
          padding-bottom:0.3em;
        }
      }
    }
  }/* END OF 800PX */

  @media screen and (max-width: 700px) {
    .banner{
      h1{
        font-size: 2.4em;
      }
    }

    .portfolio{
      .images{
        .first img, .second img, .third img{
          height: 230px;
        }
      }
    }

    .team{
      .images{
        .first img, .second img, .third img{
          height: 230px;
        }
      }
    }

    .follow{
      .follow_box i{
        padding-bottom:0.3em;
      }
    }
  }/* END OF 700PX */

  @media screen and (max-width: 600px) {
    .follow{
      .follow_icon i{
        padding-bottom: 0.8em;
      }
    }

    .portfolio{
      .images{
        .first, .second, .third{
          width:100%;
        }
      }
    }
  }/* END OF 600PX */

  @media screen and (max-width: 500px) {
    .team{
      .images{
        .first, .second, .third{
          width:100%;
        }
      }
    }
  }/* END OF 500PX */

  @media screen and (max-width: 400px) {
    .banner{
      .menu{
        .col-xs-4{
          .menu_option{
            width: 100%;
          }
        }
      }
    }
  }/* END OF 400PX */

}/* END OF JUMBOTRON */
