/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

*{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.jumbotron{
  padding:0;
  margin:0;
  width: 100%;

  /* BANNER */

  .banner{
    text-align: center;
    background-color: #040D17;
    color: #fff;
    padding-bottom: 4em;

    .menu{
      padding: 0 4em;
    }

    .menu_option{
      background-color: #091B2E;
      padding: 0.7em 0;

      h3{
        font-weight: 300;
      }

      .icon{
        font-size: 2em;
        padding-top: 1em;
        color: #CDCDCD;
      }
    }

    .menu_option:hover{
      background-color:#102C4A;

      .icon{
        -webkit-transform:scale(1.15); /* Safari and Chrome */
        -moz-transform:scale(1.15); /* Firefox */
        -ms-transform:scale(1.15); /* IE 9 */
        -o-transform:scale(1.15); /* Opera */
         transform:scale(1.15);
      }
    }

    h1{
      padding:2em 0;
      font-weight: 700;
    }

    h3{
      font-weight: 300;
      padding-bottom:0.6em;
    }
  }/* END OF BANNER */

  /* ABOUT */
  .about{
    text-align: center;
    padding: 1em;
    color: #363636;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    h4{
      text-align: justify;
      font-weight: 400;
      padding-bottom: 2.3em;
    }
  }/* END OF ABOUT */

  .service{
    background-color: #040D17;
    color: #fff;
    padding-bottom: 3em;
    height: 50vh;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    h3{
      font-weight: 300;
      padding-bottom:0.6em;
      font-size:1.3em;
    }
    .service_options{
      padding: 0 2em;

      .service_icon{
        font-size: 2em;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 1em;
        color: #CDCDCD;
      }

      .mobile{
        padding:1em 1.3em;
      }

      .service_section:hover{
        .service_icon{
          border: 2px solid #18BFF7;
        }
        h3{
          font-size: 1.5em;
        }
      }

    }
  }/* END OF SERVICE */

  .portfolio{
    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    .images{
      max-width: 100%;
    }

    .first, .second, .third{
      padding:0;
      position: relative;
      overflow: hidden;
    }

    .first img, .second img, .third img{
      height:300px;
      width:100%;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
    }

    .first:hover img, .second:hover img, .third:hover img{
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }


  }/* END OF PORTFOLIO */

  .team{
    background-color: #fff;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    .col-md-4 img{
      width: 100%;
    }

    .col-md-4 img:hover{
      width: 100%;
    }

    .first, .second, .third{
      padding:0;
      position: relative;
      overflow: hidden;
    }

    .first img, .second img, .third img{
      height:300px;
      width:100%;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
    }

    .first:hover img, .second:hover img, .third:hover img{
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);

    }
  }/* END OF TEAM */

  .blog{
    background-color: #040D17;
    color: #fff;
    padding-bottom: 3em;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    .post{
      padding-bottom: 0.4em;

      h5{
        color:#C0C0C0;
      }

      h2{
        font-weight: 300;
        font-size:2em;

        a, a:hover{
          text-decoration: none;
        }

        a{
          color: #126C8A;
          font-weight: 700;
        }

        a:hover{
          color: #18BFF7;
        }
      }
    }
  }/* END OF BLOG */

  .contact{
    background-color: #fff;
    padding-bottom: 5em;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }
    .col-md-8{
      .form-area{
        .btn-primary{
          background-color: #fff;
          color: #040D17;
          border-color: #040D17;
          font-size:1.5em;
        }
        .btn-primary:hover{
          background-color: #040D17;
          color: #fff;
          border-color: #040D17;
        }
      }
    }
  }/* END OF CONTACT */

  .follow{
    background-color: #040D17;
    color: #fff;
    padding-bottom: 4em;

    h1{
      font-size:3em;
      padding: 1em 0;
      font-weight: 700;
    }

    .col-md-3{
      .follow_icon{
        font-size:6em;
      }

      .follow_icon:hover{
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
      }
    }
  }/* END OF FOLLLOW US */

  .footer{
    background-color: #0E0E0E;
    color:#fff;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    .col-md-4{
      padding: 2em 1em;

      h2{
        font-weight: 700;
      }
    }

    .col-md-8{
      h4{
        display: inline;
        font-weight: 700;
      }

      .dot{
        padding: 0 1em;
      }
    }

  }

}/* END OF JUMBOTRON */
